* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.calc {
  height: 480px;
  width: 480px;
  background-color: grey;
  border-style: solid;
  border-color: black;
  border-radius: 12px;
  box-shadow: -2px 3px 0px 3px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  transform: skew(2deg, 0deg);
}

.display {
  margin: 40px;
  margin-bottom: 20px;
  height: 80px;
  background-color: darkgreen;
  border-style: solid;
  border-color: black;
  border-radius: 12px;
  box-shadow: -1px 1px 0px 1px #000000 inset;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 60px;
}

.controls {
  flex-grow: 1.5;
  margin: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numpad {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.numrow {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.numkey, .opkey {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 3px 0px 1px #000000;
  transition: all 0.1s;
}

.keypress {
  transform: translate(-2px, 3px);
  box-shadow: 0px 0px 0px 0px;
}

.operations {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.opsrow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}




.footer {
  background-color: navy;
  color: white;
  width: 100%;
}

.copyright {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 12px;
}